[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "readMDTable"]
	path = readMDTable
	url = https://github.com/jrdnbradford/readmdtable
